{% extends 'base.html.twig' %}

{% block body %}


    <h1 class="text-uppercase text-center">INDEX PAGE</h1>

    {#{{ users[0].name }}#}

    {% for key,val in users %}
        <tr>
            <li class="user-profile"> {{ val.name }} {% if val.webPath %}<img class="img-circle user-img" src="{{ val.webPath }}">{% endif %} </li>
            {#<a href="{{ path('profile') }}">{{ val.name }}</a>#}
        </tr>
    {% endfor %}

{% endblock %}

