{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
    <h1 class="text-uppercase text-center">Users</h1>
    {#{{ users[0].name }}#}
    {% for key,val in users %}

        <tr>
            <li class="user-profile"> {% if val.webPath %}<a class="songs" href="{{ path('user', {'userFind': val.username}) }}">
                    {{ val.name }} </a>  <img class="img-circle user-img" src="{{ val.webPath }}">{% endif %} </li>
        </tr>

    {% endfor %}
            </div>
    {#</div>#}
        <h2 class="text-uppercase text-center">Latest songs</h2>
    {% for recent in recentSongs %}
            {#<div class="row">#}
            <div class="col-md-offset-5 text-left">{% if recent.songs %}
                    {% for songs in recent.songs %}
                        {% if date(songs.updatedat.date) > date('-1days') %}
                        {#{{ dump(songs.updatedat.date) }}#}
                        {#{{ dump(sortDate(songs.updatedat.date))}}#}
                        {#{% if songs.up %}#}
                        <p><img class="img-circle user-img" src="{{ songs.username.webPath }}"> <b>{{ songs.username.username }}</b> {{ songs.updatedat|date }}</p>
                            <p> <b>Name:</b> {{ songs.songname }}</p>
                            <p> <b>About:</b> {{ songs.about }}</p>
                            <p> <b>Genre </b>{{ songs.genre }}</p>
                            <a class="songs" href="{{ path('record_show', {'track': songs.songname }) }}">
                                <button class="btn btn-info">more</button>
                            </a>
                       {#<div> {{ songs.songName }} </div>#}
                            <br/><br/>
                            {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}


