{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
    <h2 class="text-center">Recent users active:</h2>
    {#{{ users[0].name }}#}
    {% for key,val in users|slice(0,10) %}

        {#{{ dump(val.username.lastlogin) }}#}
        {% if date(val.username.lastlogin) > date('-7days') %}
        <tr>
            <li class="user-profile"> {% if val.webPath %}<a class="songs" href="{{ path('user', {'userFind': val.username}) }}">
                    {{ val.name }} </a>  <img class="img-circle user-img" src="{{ val.webPath }}">{% endif %} </li>
        </tr>
        {% endif %}

    {% endfor %}
            </div>
    {#</div>#}
        <div class="col-md-offset-2 col-md-5 text-left">
         <h2 class="text-center">Latest songs</h2>
            {% for recent in recentSongs %}
            {#{% for recent in recentSongs|slice(0,3) %}#}
                {% if date(recent.latest) > date('-1days') %}
                <div class="index-border js-songs">
                    <div class="index-songs js-post">
                        <p><img class="img-circle user-img" src="{{ recent.user.webPath }}" alt="user picture"><b>{{ recent.user.username }}</b>
                        {{ recent.latest|date|time_diff }}</p>

                        <p><b>Name: </b> {{ recent.songname }}</p>
                        <p><b>About: </b>{{ recent.about }}</p>
                        <p><b>Genre: </b> {{ recent.genre }}</p>
                        <a class="songs" href="{{ path('record_show', {'track': recent.songname }) }}">
                            <button class="btn btn-info">more</button>
                        </a>
                    </div>
                </div>
                {% endif %}

                {#{{ dump(recent) }}#}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


