{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-2">
        <div class="sea-creature-container">
            <div class="genus-photo"></div>
            <div class="genus-details">
                <dl class="genus-details-list">
                    <dt>Profile Picture</dt>
                    <dd><img class="user-img" src="/../{{ file }}" alt="profile-img"></dd>
                    <dt>Name</dt>
                    <dd>{{ name }}</dd>
                    <dt>Country</dt>
                    <dd>{{ country }}</dd>
                    <dt>Username:</dt>
                    <dd>{{ username }}</dd>
                    <dt>Birth</dt>
                    <dd>{{ birth|date('Y-m-d') }}</dd>
                    <dt>Website</dt>
                    <dd>{{ website }}</dd>
                    <dt>Genres</dt>
                    {% for genre in genres %}
                        <dd>{{ genre }} </dd>
                    {% endfor %}
                    <dt>Gender</dt>
                    {% if gender == 0 %}
                        <dd>not known</dd>
                    {% elseif gender == 1 %}
                        <dd>Male</dd>
                    {% elseif gender == 2 %}
                        <dd>Female</dd>
                    {% else %}
                        <dd>not applicable</dd>
                    {% endif %}
                    <dt>Songs</dt>
                    {% for song in songs %}
                    {#<a class="songs" href="{{ path('songs_show', {'username': username}) }}">#}
                        <a class="songs" href="{{ path('record_show', {'track': song.songname }) }}">
                        <dd>{{ song.songname }}</dd>
                        </a>
                        {% endfor %}
                </dl>
            </div>
        </div>
        <div id="js-notes-wrapper"></div>
    </div>
    <div class="col-md-10 text-left">
        <h2><b>About</b></h2>
        <p>{{ about }}</p>
        {#<h1 class="text-center songs">Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all</h1>#}
    </div>
    <div class="col-md-offset-3 col-md-3">
        {# setting the value because in the FOSCommentBundle I cant set it directly with twig#}
        {% set user = username.username %}
        {% if currentU == username.username %}
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': user } %}
            {% endif %}
    </div>
</div>

{% endblock %}